
<body>
    <button type='submit' (click)="logout()">Logout</button>
    
    <div class="container">
        <h2>Welcome Admin</h2>
    <h1>Books To Explore</h1>
    <form>
        <input class="form-control" type="text" name="Book_title" [(ngModel)]="Book_title"
        (ngModelChange)="Search()" placeholder="Enter Book title to search">
        <button>Search<i class="fas fa-serch"></i></button>
        <!-- <img class="imbBx" src="./assets/searchicon.png"> -->
    </form>
      <table class="table table-bordered"> 
        <thead>
         <tr>
           <!-- <th (click)="sort('Book_id')" style = "font-size: 30px;">Book_id&nbsp;<i class="fa fa-sort" ></i></th> -->
           <th style = "font-size: 20px;">Book_id</th>
           <th style = "font-size: 20px;">Book_title</th>
           <th style = "font-size: 20px;">Book_auther</th>
           <th style = "font-size: 20px;">NumberOfBooks</th>
           <th style = "font-size: 20px;">Actions</th>
         </tr>
       </thead> 
        <tbody>
         <tr *ngFor= "let user of users ">
            <!-- | orderBy: key:reverse -->
           <td style = "font-size: 20px;">{{user.id}}</td>
           <td style = "font-size: 20px;">{{user.Book_title}}</td>
           <td style = "font-size: 20px;">{{user.Book_auther}}</td>
           <td style = "font-size: 20px;">{{user.NumberOfBooks}}</td>
           <td>
            <button type="button" class="btn btn-danger" (click)="deleteRow(user.id)">Delete Book</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="update(user.id)">Update Book Details</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" (click)="add(user)">Add Book</button>
            <!-- <button type="button" class="btn btn-dark" (click)="get(user.id)">Get Book Details</button> -->
           </td>
         </tr>
       </tbody>    
     </table>
     
    </div>
    </body>