<div class="container">
    <!-- <div id="New_Content_Container_836201-836201" class="intro-text top-gap--standard bottom-gap--standard
    bg-white centred"> -->
    <div class="content-wrapper">
    <h2>About Us</h2>
    <p class="introduction">We inspire and enable independent minds, providing resources.</p>
    </div>
    <!-- </div> -->
<div id="New_Content_Container_836205-836205" class="row box-featured_group top-gap--standard 
    bottom-gap--standard">
<link rel="stylesheet" type="text/scss" href="">
<div class="col-xs-12">
    <div class="bpx-featured">
        <a routerLink="" class="box-featured_thumb-link">
        <img src=".\assets\fiction book.png" alt="about us" class="box-featured_thumb-image">
    </a>
    <div class="box-featured_blurb">
        <h2 class="box-featured_heading">
        <a routerLink="" class="box-featured_heading-link" >Fiction</a>
    </h2>
    <p class="box-featured_description">
        Books are made up by the author.
    </p>
    </div>
    <div class="box-featured_cta-wrapper">
        <a routerLink="" class="btn btn--dynamic btn--blue box-featured_cta-link">Find Out More</a>     
    </div>
    
    </div>
</div>

<div class="col-xs-12">
    <div class="box-featured">
        <a href="" class="box-featured_thumb-link">
            <img src=".\assets\referencebook.webp" alt="about us" class="box-featured_thumb-image">
        </a>
        <div class="box-featured_blurb">
            <h2 class="box-featured_heading">
            <a href="" class="box-featured_heading-link" >Reference</a>
        </h2>
        <p class="box-featured_description">
            Update yourself on the latest academic research around the world. Explore our comprehensive collections – 
            whatever your field, we have the top resources for you.
        </p>
        </div>
        <div class="box-featured_cta-wrapper">
            <a href="" class="btn btn--dynamic btn--blue box-featured_cta-link">Find Out More</a>     
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="box-featured">
        <a href="" class="box-featured_thumb-link">
            <img src=".\assets\Nonfiction-Series-FB.png" alt="about us" class="box-featured_thumb-image">
        </a>
        <div class="box-featured_blurb">
            <h2 class="box-featured_heading">
            <a href="" class="box-featured_heading-link" >Non-Fiction</a>
        </h2>
        <p class="box-featured_description">
            Books that are about real things - animals, countries, space, etc.
        </p>
        </div>
        <div class="box-featured_cta-wrapper">
            <a href="" class="btn btn--dynamic btn--blue box-featured_cta-link">Find Out More</a>     
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="box-featured">
        <a href="" class="box-featured_thumb-link">
            <img src=".\assets\graphic-novels-3-5-feature__opt-400x779.jpg" alt="about us" class="box-featured_thumb-image">
        </a>
        <div class="box-featured_blurb">
            <h2 class="box-featured_heading">
            <a href="" class="box-featured_heading-link" >Graphic Novels</a>
        </h2>
        <p class="box-featured_description">
            Stories told using text and illustrations in a comic-strip format.
        </p>
        </div>
        <div class="box-featured_cta-wrapper">
            <a href="" class="btn btn--dynamic btn--blue box-featured_cta-link">Find Out More</a>     
        </div>
    </div>
</div>


</div>
</div>