 <div class="logo-component">
  <div class="logo-txt">
    <img class="logo-icon" src=".\assets\library logo.jpg" width="300" height="50" alt="open library logo"> 
  </div> 
</div>
  <div class="tm-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                <a routerLink="" class="tm-site-name">Bibliotheca</a>              
            </div>
            
            <div class="col-lg-6 col-md-8 col-sm-9">
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                
                <nav class="tm-nav">
                    <ul>
                      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
                       <li><a routerLinkActive="active" routerLink="/aboutus">About Us</a></li>&nbsp;
                      <li><a routerLinkActive="active" routerLink="/contactus">Contact Us</a></li>&nbsp;
                      <li><a routerLinkActive="active" routerLink="/signup">Sign up</a></li>&nbsp;
                      <li><a routerLinkActive="active" routerLink="/memberlogin">Member Login</a></li>&nbsp;
                      <li><a routerLinkActive="active" routerLink="/login">Librarian Login</a></li>&nbsp;
                      <!-- <li><a routerLinkActive="active" routerLink="/data">Search</a></li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  </div>
<router-outlet></router-outlet> 
   

<!-- nav -->
<!-- <h1>welcome</h1>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    
      <a class="nav-item nav-link" routerLink="home">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<!--<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <app-alert></app-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div> -->